# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\SHIBL\Documents\ZENITH_NEW_REPO\zenith-qa-testing-main\zenith-qa-testing-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
